/* reusables */
:root {
    --natural-text-padding: 1ex 1ch;
    --natural-line-height: 1.2;
}

/* resets */
* {
    box-sizing: border-box;
}

button, input {
    font-size: 1rem;
}

/* generics */
button {
    padding: var(--natural-text-padding);
}

/* specifics */
body {
    max-width: 800px;
    margin: auto;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

h1 {
    flex-grow: 0;
    word-break: break-all;
}

div {
    text-align: right;
}

#remaining-weight {
    box-sizing: content-box;
    min-width: 2ch;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding: 0;
}

ul.in-edit-mode > li {
    opacity: .3;
}

ul.in-edit-mode > li.being-edited {
    opacity: 1;
}

ul.in-edit-mode > li.being-edited:focus-within {
    position: relative;
    z-index: 1;
}

ul.in-edit-mode > li.being-edited:focus-within::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    background-color: inherit;
    z-index: -1;
    box-shadow: 0 0 .5rem 1px black;
}

ul:empty {
    position: relative;
}

.done-fetching:empty::after {
    content: 'No priorities means everything\'s equally important and that never works. \A Add your first priority above'; /* https://stackoverflow.com/questions/17047694#answer-17047836 */
    white-space: pre; /* https://stackoverflow.com/questions/17047694#answer-17047836 */
    position: absolute;
    top: calc(100% + 1rem);
    text-align: center;
    width: 100%;
    line-height: 1.2;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 45px;
}

li:not(:last-of-type) {
    margin-bottom: .2rem;
}

li:nth-of-type(odd) {
    background-color: #eee;
}

li:nth-of-type(even) {
    background-color: white;
}

li > button {
    border: 1px solid gray;
}

li > label {
    padding: var(--natural-text-padding);
    display: flex;
    align-items: center;
}

li > input:nth-child(4) {
    padding: var(--natural-text-padding);
    border: none;
    background-color: transparent;
}

li > input[type="range"] {
    flex-grow: 1;
}

li > output {
    padding: var(--natural-text-padding);
    box-sizing: content-box;
    flex-basis: 3ch;
    text-align: center;
    align-self: center;
    flex-shrink: 0;
}